{% extends 'layout.twig'%}


{% block content %}

	<!doctype html>
	<html>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

		<body>
			<div class="container">
				<br>
				<br>
				<h1>
					Bienvenue !
				</h1>
				<p>
					Vous voilà sur le site ISIWEB pour acheter du café.</p>
			</div>

			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

			<br>
			<br>
			<div class="card-group">
				<a href="?page=boissons" class="card clickable-card">
					<img src="../public/images/cafeGrain.jpg" class="card-img-top" alt="CafeGrain">
					<div class="card-body">
						<h5 class="card-title">Boissons</h5>
						<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						<p class="card-text">
							<small class="text-body-secondary">Last updated 3 mins ago</small>
						</p>
					</div>
				</a>
				<a href="?page=biscuits" class="card clickable-card">
					<img src="../public/images/biscuitsCannelle.jpg" class="card-img-top" alt="Biscuit">
					<div class="card-body">
						<h5 class="card-title">Biscuits</h5>
						<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
						<p class="card-text">
							<small class="text-body-secondary">Last updated 3 mins ago</small>
						</p>
					</div>
				</a>
				<a href="?page=fruits" class="card clickable-card">
					<img src="../public/images/plateauFruitsSecs.jpg" class="card-img-top" alt="Fruit sec">
					<div class="card-body">
						<h5 class="card-title">Fruits secs</h5>
						<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
						<p class="card-text">
							<small class="text-body-secondary">Last updated 3 mins ago</small>
						</p>
					</div>
				</a>
			</div>

		</body>
		<br>
		<br>


		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>


	</html>

{%  endblock  %}
